---
const phoneNumber = "0343956954";
const displayPhone = "0343 956 954";
---

<a 
  href={`tel:${phoneNumber}`} 
  class="relative flex items-center h-12 bg-[#1b5e96]/80 rounded-full pr-5 pl-12 shadow-lg hover:scale-105 transition-transform duration-300 w-fit ml-4 mb-4"
>
  <div class="absolute -left-4 w-14 h-14 flex items-center justify-center bg-[#2579c3] rounded-full shadow-lg z-10">
    <div class="absolute inset-0 rounded-full border-2 border-[#2579c3] animate-[ping_2s_infinite] opacity-70"></div>
    <div class="absolute inset-0 rounded-full border-2 border-[#2579c3] animate-[ping_3s_infinite] opacity-40 delay-75"></div>
    
    <svg class="text-white w-6 h-6 z-20 animate-[pulse_1s_infinite]" fill="currentColor" viewBox="0 0 24 24">
      <path d="M6.62 10.79c1.44 2.83 3.76 5.15 6.59 6.59l2.2-2.2c.28-.28.67-.36 1.02-.25 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.24.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
    </svg>
  </div>
  
  <span class="text-white font-bold tracking-wider text-base md:text-lg whitespace-nowrap">{displayPhone}</span>
</a>