<a href="https://zalo.me/0343956954" class="zalo-btn">
  Chat Zalo
</a>

<style>
.zalo-btn{
 position:fixed;
 bottom:30px;
 left:30px;
 background:#0068ff;
 color:white;
 padding:14px 22px;
 border-radius:40px;
 font-weight:bold;
 box-shadow:0 10px 25px rgba(0,0,0,0.2);
}
</style>